        body
       {
         color: MidnightBlue;
         background-color: powderblue;
         font-family: "Courier New", Courier, monospace;
       }
       h1
       {
         color: MidnightBlue;
         outline-style: double;
         text-align: center;
       }
       p
       {
         color: MidnightBlue;
         text-align: center;
       }
       div.gallery
       {
          margin: 25px;
          border: 1px solid CornflowerBlue;
          float: left;
          width: 182px;
       }

       div.gallery:hover
       {
          border: 1px solid MidnightBlue;
       }

       div.gallery img
       {
          width: 182px;
          height: 277px;
       }

       div.desc
       {
          padding: 15px;
          text-align: center;
       }